body {
  margin: 0px;
  padding: 0px;
  background-color:#270339;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
/* Style menu Nav*/
nav {
  display: flex;
  justify-content:flex-end;
  align-items: center;
  height: 40px;
  background-color: #ab69cc;
  box-shadow: 2px 2px 12px rgba(239, 103, 185, 0.2);
  padding: 0px 5%;
}

nav ul {
  display: flex;
}

nav ul li a {
  margin: 25px;
  font-family:Arial, Helvetica, sans-serif;
  color: #270339;
  font-size: 16px;
  font-weight: 650;
}

nav ul li a:hover {
  background-color: #c893d7;
  color: black;
  border-radius: 3px;
}
/* Style menu Home*/
#home {
  width: 100%;
  height: 100vh;
  position: relative;
  margin: 0px;
  padding: 0px;
}

.home p {
  line-height: 0px;
  margin: 55px 0px 0px;
}

.home p:nth-child(1) {
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: rgb(248, 196, 255);
  font-size: 20px;
}

.home p:nth-child(2) {
  font-family :Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  color: rgb(224, 146, 255);
  font-size: 32px;
}

.home p:nth-child(4), .home p:nth-child(5) {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(241, 239, 237);
  text-align: left;
}

.home {
  position: absolute;
  top: 40%;
  left: 10%;
  right: 20%;
  transform: translate(13% 42%);
}

.profile-circle {
  width: 300px; 
  height: 300px; 
  border-radius: 50%;
  overflow: hidden; 
  margin: 0 auto 20px; 
  position: absolute;
  top: 280px; 
  left: 1000px;
}

.profile-circle img {
  max-width: 100%;
  height: auto;
  display: block;
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
}
/* Style menu About*/
.about {
  height: 76vh;
  background-color: #270339;
  padding: 2% 10% 10%;
}

.about-desc {
  margin-top: 250px;
}

.about-desc p:nth-child(1) {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  color: #b10fe7f4;
  font-size: 30px;
  line-height: 0px;
  text-align: center;
  margin-bottom: 30px;
}

.about-desc p:nth-child(2) {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #ebc7f7c1;
  text-align: center;
}

.picture {
  width: 400px;
  height: auto;
  position: absolute;
  left: 20%;
  top: 125%;
  transform: translate(-70%);
}
/* Style menu Skill*/
.skill {
  height: 77vh;
  background-color: #270339;
  padding: 2% 10% 10%;
}

.skill-desc {
  margin: 50px 50px;
}

.skill-desc p:nth-child(1) {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  color: #b10fe7f4;
  font-size: 30px;
  line-height: 0px;
  text-align: center;
  margin-bottom: 35px;
}

.box-container {
  display: flex;
  text-align: justify;
  justify-content: space-around;
}

.box-1, .box-2, .box-3 {
  width: 350px;
  height: 350px;
  background-color: #ab69cc;
  box-shadow: 2px 12px 18px rgba(255, 255, 255, 0.2);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 0px 5px;
}


.box-1 span, .box-2 span, .box-3 span {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #a604f7;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
}

.box-1 p:nth-child(3), .box-2 p:nth-child(3), .box-3 p:nth-child(3) {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #270339;
  width: 250px;
  margin: 0px 0px 50px 0px;
}

/* Style menu projects*/
#projects {
  background-color: #270339;
  padding: 30px 0;
}

#projects {
  background-color: #270339;
  padding: 2% 10% 10%;
}
.projects {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.projects-desc {
  margin-bottom: 20px;
}

.projects-desc p {
  font-size: 24px;
  font-weight: bold;
  color: #b10fe7f4; 
}

.project-box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
}

.project {
  width: 350px; 
  height: 350px; 
  background-color: #ab69cc;
  box-shadow: 2px 12px 18px rgba(255, 255, 255, 0.2);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 15px 5px;
  border-radius: 5px;
}

.project img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.project h3 {
  font-size: 18px;
  margin-top: 10px;
  color: #420075; 
}

.project p {
  font-size: 14px;
  color: #38014b; 
}

/* Style menu Contact*/
.contact {
  height: 50vh; 
  display: flex;
  justify-content: center; 
  align-items: center;
  background-color: #ab69cc;
  padding: 2% 10% 2%; 
}

.contact-desc {
  margin: 50px 50px;
}

.contact-desc p:nth-child(1) {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  color: #380022f4;
  font-size: 30px;
  line-height: 0px;
  text-align: center;
  margin-bottom: 35px;
}

.contact-desc p:nth-child(2) {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #380057f4;
  text-align: center;
}


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 15px;
  resize: vertical;
}

input[type=submit] {
  background-color: #345accf4;
  color:#fff;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: rgb(39, 78, 168)f4;
}

input:active {
  transform: scale(1.1);
}

footer {
  height: 70px;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #fefdff;
}

